Linear SVM over diabetic dataset

In [2]:
# importing required libraries
import numpy as np #nd-arrays
import pandas as pd #read data from datasources
from sklearn.preprocessing import LabelEncoder #Encode numerical varible into categorical variables
from sklearn.preprocessing import StandardScaler #Standardize the data using mean and std
from sklearn.model_selection import train_test_split #split the data into train and test
from sklearn.metrics import accuracy_score,confusion_matrix #evaluate a model
from sklearn.svm import LinearSVC, SVC #develop svm based clssification models
from sklearn.model_selection import GridSearchCV #tune the hyperparamters
from sklearn.metrics import average_precision_score, make_scorer, recall_score #design custom scoring functions

In [3]:
#Reading the data into dataframe
diabetes_df=pd.read_excel('data_file.xlsx')
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2703 entries, 0 to 2702
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GENDER    2703 non-null   int64
 1   AGE       2703 non-null   int64
 2   Height    2703 non-null   int64
 3   Weight    2703 non-null   float64
 4   BMI       2703 non-null   float64
 5   BAI       2703 non-null   float64
 6   HBA1C1    2703 non-null   float64
 7   OGTT1FBS  2703 non-null   int64
 8   NDD       2703 non-null   int64
dtypes: float64(4), int64(5)
memory usage: 190.1 KB

In [4]:
#work on the copy of the dataset
clean_df=diabetes_df.copy()
#Pruning the data
clean_df.drop_duplicates(keep = 'first',inplace=True)
print(clean_df.shape)

(1065, 9)

In [8]:
clean_df.head(10)

   GENDER  AGE  Height  Weight        BMI    BAI  HBA1C1  OGTT1FBS  NDD
0       1   37     156    88.0  36.160421  41.53     5.1       102    0
1       0   35     146    56.0  26.271345  34.15     5.0        91    0
2       1   54     160    76.0  29.687500  28.45     5.4        73    0
3       0   46     154    64.0  26.986001  33.28     6.0       151    0
4       0   70     156    55.0  22.600263  21.52     5.6       142    0
5       1   55     158    66.0  26.438071  19.26     5.7        95    0
6       0   25     155    99.0  41.207076  47.29     7.9       120    1
7       0   34     159    75.0  29.666548  39.86     5.6        87    0
8       1   48     168    74.0  26.218821  26.09     7.5       121    1
9       1   62     162    79.0  30.102119  22.74     6.5       109    0

In [6]:
#Assigning labels with appropriate numerics
nondia=0
diabetic=1
#create a dataframe and assign a column to indicate the diabetic status
Ynew = pd.DataFrame(nondia, index=clean_df.index, columns=['diabetic'])
#Identify the diabetic status of each record using the blood test results of FBS or HBA1C1
Ynew.iloc[list(np.where((clean_df.OGTT1FBS>=126) | (clean_df.HBA1C1>=6.5))[0])]=diabetic
#Concatenate the diabetic status with the anthroprometric features of the dataset
data_df=pd.concat([clean_df.iloc[:,:6],Ynew],axis=1)

In [7]:
data_df.head()

   GENDER  AGE  Height  Weight        BMI    BAI  diabetic
0       1   37     156    88.0  36.160421  41.53         0
1       0   35     146    56.0  26.271345  34.15         0
2       1   54     160    76.0  29.687500  28.45         0
3       0   46     154    64.0  26.986001  33.28         1
4       0   70     156    55.0  22.600263  21.52         1